*, *::before, *::after{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    display: flex;
}

section{
    background-color:#000000;
    height: 100vh;
    width: 20%;
    color: white;
}

.logs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 10px;
    align-items: center;
}

.dash{
    /* border: 1px solid white; */
    width: 100%;
    padding: 10px;
    padding-left: 40px;
}

.icon{
    border-radius: 50%;
    background-image: url(../IMGS/icon.jpg);
    text-align: center;
    /* color: white; */
    height: 100%;
    width: 30%;
    padding: 50px;
    margin: 40px;
    /* margin: 40px; */
}

main{
    padding: 50px;
}

.form{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 80px;
    grid-row-gap: 20px;

}

.form div{
    margin: 0 auto;
}

button{
    background: #000000;
    border: none;
    color: white;
    margin-top: 60px;
    padding: 7px;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
}